.about__introduce  {
    color: var(--text-color-100);
}

.about__introduce h3,
.about__timeline h3,
.about__info .skills h3 {
    font-size: 1.6rem;
    color: var(--text-color-100);
}

.about__introduce h3 span {
    color: var(--text-color-150);
}

.about__introduce > p {
    font-size: 1.4rem;
    font-family: var(--font-type-200);
    padding: 2rem 0;
    letter-spacing: .1rem;
}

.about__info {
    position: relative;

    display: flex;
    flex-direction: column;
}

.about__info .info-item {
    width: 100%;
    margin-bottom: 1rem;
}

.about__info .info-item p{
    border-bottom: .1rem solid var(--bg-color-50);
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
}

.about__info .info-item span {
    font-weight: 400;
    margin-left: .8rem;
}

.about__info .skills {
    padding: 1.2rem 0;
}

.about__info .skills__icons i{
    font-size: 3rem;
    color: var(--text-color-150);
    box-shadow: -0.2rem -0.2rem .2rem #ffffffa8;
    margin-right: 2rem;
    margin-top: 2rem;
    font-weight: 400;

}

.about__timeline {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.education,
.jobs {
    flex: 0 0 100%;
    max-width: 100%;
}

.about__timeline-box {
    background-color: var(--text-color-100);
    padding: 2rem 1.4rem 1.4rem 1.4rem;
    border-radius: .8rem;
    margin-top: 1.6rem;
}

.circle-dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--text-color-150);
}

.about__timeline-box__item {
    position: relative;
    left: 0;
    padding-left: 3rem;
    padding-bottom: 3.5rem;

    display: grid;
    gap: .8rem;
}

.about__timeline-box__item::before {
    content: "";
    width: .1rem;
    height: 100%;
    position: absolute;
    background-color: var(--text-color-150);
    left: .7rem;
    top: 0;
}

.about__timeline-box__item h4 {
    font-size: 1.4rem;
}

.about__timeline-box__item h4 i {
    margin-right: .8rem;
}

.about__timeline-box__item h5 {
    font-size: 1.6rem;
}

.about__timeline-box__item p {
    font-size: 1.6rem;
    font-weight: 600;
}


/* ---- -------- min-width  360px ------------ */

@media (min-width: 36rem) {
    .about__info {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .about__info .personal {
        flex: 0 0 40%;
    }

    .about__timeline {
        flex-direction: row;
    }

    .education,
    .jobs {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* ---- -------- min-width  680px ------------ */

@media (min-width: 68rem) {
    .about__introduce h3,
    .about__timeline h3,
    .about__info .skills h3 {
        font-size: 2rem;
    }

    .about__introduce > p {
        font-size: 1.6rem;
    }

    .about__info .info-item p {
        font-size: 1.6rem;
        width: 80%it;
    }

    .about__info .personal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex: 0 0 60%;
    }

    .about__timeline {
        margin-top: 4rem;
        justify-content: space-between;
    }
    .about__timeline-box {
        padding: 3rem 1.6rem 1.6rem 1.6rem;
    }

    .education,
    .jobs {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .about__timeline-box__item h4,
    .about__timeline-box__item p  {
        font-size: 1.6rem;
    }

    .about__timeline-box__item h5 {
        font-size: 1.8rem;
    }
}
