.contact__content {
    color: var(--text-color-100);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.contact__content h3 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.contant__social-media .icons {
    display: flex;
    gap: 3rem;
}


/* ---- -------- min-width  680px ------------ */

@media (min-width: 68rem) {
    .contact__content h3 {
        font-size: 2rem;
    }

    .contant__email {
        font-size: 1.8rem;
    }
}
