main {
    width: 100%;
}

main .page {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    height: 100vh;

    padding: 2rem 2rem 8rem;
    overflow-x:hidden;

    transform: translateY(200%);
    transition: transform .6s ease-in-out;
}

main .page.show{
    transform: translateY(0);
}

.page__content {
    position: relative;

    font-family: var(--font-type-200);
}

.page__content .page__title::before {
    width: 5rem;
    top: 3rem;
}

.page__content .page__title::before,
.page__content .page__title::after {
    content: '';
    height: .2rem;
    background-color: var(--text-color-150);
    position: absolute;
}


.page__content .page__title {
    color: var(--text-color-100);
    font-family: var(--font-type-300);
    letter-spacing: .2rem;
    line-height: 3rem;
    font-size: 1.8rem;

    margin-bottom: 5rem;
}

.page__content .page__title::after {
    width: 3rem;
    left: 0rem;
    top: 4rem;
}

/* ---- -------- min-width  360px ------------ */

@media (min-width: 36rem) {
    main .page {
        padding-left: 7%;
        padding-right: 7%;
    }

    .page__content .page__title {
        font-size: 2rem;
    }
}


/* ---- -------- min-width  680px ------------ */

@media (min-width: 68rem) {
    main .page {
        left: 26rem;
        overflow-y: auto;
        overflow-x: hidden;

        transform: translateX(200%);
    }

    .page__content  {
        width: 100%;
    }

    .page__content .page__title::before {
        top: 8.5rem;
        width: 8rem;
    }

    .page__content .page__title {
        padding: 5rem 0;
        font-size: 3rem;
    }

    .page__content .page__title::after {
        top: 9.5rem;
        width: 5rem;
    }

}
